[Desktop Entry]
Categories=Qt;KDE;System;Filesystem;
Comment=Btrfs Tools Snapshots
Exec=sudo btrfs-tools-snapshots-gui
GenericName=Btrfs Tools Snapshots
Icon=btrfs-tools-snapshots
Name=btrfs-tools-snapshots
Type=Application
X-KDE-StartupNotify=false

X-Ayatana-Desktop-Shortcuts=Screen;Window

# Translations

Comment[en_GB]=Btrfs Tools Snapshots
GenericName[en_GB]=Btrfs Tools Snapshots
Name[en_GB]=btrfs-tools-snapshots
Icon[en_GB]=btrfs-tools-snapshots

Comment[pl]=Obsługa punktów przywracania Btrfs
GenericName[pl]=Obsługa punktów przywracania Btrfs
Name[pl]=btrfs-tools-snapshots
Icon[pl]=btrfs-tools-snapshots
